<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="md-elevation-z4">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <br>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" name="user" [(ngModel)]="userName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Log in</button>
    </form>
  </mat-card>
<br>
Or
<br>
  <mat-card class="md-elevation-z4">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <br>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" name="user" [(ngModel)]="userName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Log in</button>
    </form>
  </mat-card>

</div>